<link rel="stylesheet" href="/fonts/font-family.css">
<!-- <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.2.1/styles/monokai-sublime.min.css"
    integrity="sha512-/l4iViNMhxR5MhSlak3Yw/L/7qUBifVy7MpLjeJTc8BPMRFbGplGN0xqufCDwhSdxSnVgy+e/OYsNnU75K3yyQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
<!-- <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.2.1/styles/github.min.css"
    integrity="sha512-7QTQ5Qsc/IL1k8UU2bkNFjpKTfwnvGuPYE6fzm6yeneWTEGiA3zspgjcTsSgln9m0cn3MgyE7EnDNkF1bB/uCw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
<!-- <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.2.1/styles/gradient-dark.min.css"
    integrity="sha512-lBWCbxk1uNasdkp34dzGF6LyjKMcH4NpOoMg9YzQQ6KoJpwxNHC1NL+y59mWPXn2nOC14agcS/6GfVqmaC+1Ug=="
    crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
<!-- <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.2.1/styles/kimbie.dark.min.css"
    integrity="sha512-vtcn+JO7k99cgToQgQ/mV4ZgcNBsiZI+V0GHTib6CiYQXXc6Rprsl9rd98tsbZlRHDSOUYgWyLomApygcxoTRQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.2.1/styles/srcery.min.css"
    integrity="sha512-Df25nyztcPnpd6vXgJEh8tkLnJ42UVWpFnZN84MXqzUldMP5O25ccHrcNz2o16+VQgMcGrN9CCk1NAL/mErkqg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

{{ if or .Params.math .Site.Params.math }}
<link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css"
    integrity="sha384-n8MVd4RsNIU0tAv4ct0nTaAbDJwPJzDEaqSD1odI+WdtXRGWt2kTvGFasHpSy3SV"
    crossorigin="anonymous">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js"
    integrity="sha384-XjKyOOlGwcjNTAIQHIpgOno0Hl1YQqzUOEleOLALmuqehneUG+vnGctmUb0ZY0l8"
    crossorigin="anonymous"></script>
<script defer
    src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/contrib/auto-render.min.js"
    integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05"
    crossorigin="anonymous"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        renderMathInElement(document.body, {
          // customised options
          // • auto-render specific keys, e.g.:
          delimiters: [
              {left: '$$', right: '$$', display: true},
              {left: '$', right: '$', display: false},
              {left: '\\(', right: '\\)', display: false},
              {left: '\\[', right: '\\]', display: true}
          ],
          // • rendering keys, e.g.:
          throwOnError : false
        });
    });
</script>
{{ end }}